@font-face {
    font-family: "playfair";
    src: url("../../../public/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  }

.all-category-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/871/820/non_2x/online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-vector.jpg");
    width: 100%;
    height: 450px;
}

.all-category-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.all-category-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.all-category-sub-heading p{
    max-width: 500px;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
}

.all-category-heading h1{
    font-family: "playfair",sans-serif;
}

.all-category {
    padding: 50px 0px;
}