@font-face {
    font-family: "playfair";
    src: url("../../../public/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  }

.category{
    background: #FAFAFA;
    padding: 50px 0px;
}

.category-container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.category-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-heading h2{
    font-size: 28px;
    font-weight: 500;
    font-family: "playfair",sans-serif;
    text-align: center;
}

.category-sub-heading p{
    text-align: center;
    max-width: 350px;
}

.category-sub-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-list-img {
    width: 250px;
    height: 250px; 
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecebeb; 
}

.category-list-img img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.category-list{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.category-list-category p{
    font-weight: 600;
    font-size: 18px;
}


