header {
    background: #fff;
    position: relative;
    width: 100%;
    box-shadow: none;
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.header {
    margin: 0 auto;
    padding: 15px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 100%;
}

.header-logo {
    width: 150px;
    cursor: pointer;
}

.header-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}

.header-nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;  
    background-color: #666;
    transition: all 0.3s ease-in-out;
}

.header-nav ul li a:hover::after {
    width: 100%; 
    border: 1px solid;
}

.header-nav ul li a:hover {
    color: #666;
}

.header-icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header-icons i:hover{
    color: rgb(255, 192, 203)
}

.header-sub-nav{
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: auto;
    z-index: 9999;
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 0 15px #0000001a;
    transform: translateY(30px);
    transition: all .3s ease-in;
}

.header-nav ul li:hover .header-sub-nav {
    opacity: 1;
    visibility: visible;
    transform: translateY(15px);
    cursor: pointer;
}

.header-sub-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}